# (C) Copyright 2025, SECO Mind Srl
#
# SPDX-License-Identifier: Apache-2.0

name: Check build for the library with gRPC

on:
  pull_request:
  push:
defaults:
  run:
    shell: bash
env:
  GRPC_VERSION: "1.69.0"

jobs:
  build-grpc-native-sample-conan-linux:
    runs-on: ubuntu-latest
    concurrency:
      group: build-grpc-native-sample-conan-linux-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v6
      - name: Install Conan
        uses: conan-io/setup-conan@v1
        with:
          cache_packages: true
          use_venv: true
      - name: Build sample and library
        run: ./build_sample.sh grpc/native --fresh --deps-mgmt conan --transport grpc --ext-tools
  build-grpc-native-sample-conan-windows:
    runs-on: windows-latest
    concurrency:
      group: build-grpc-native-sample-conan-windows-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v6
      - name: Install Conan
        uses: conan-io/setup-conan@v1
        with:
          cache_packages: true
          use_venv: true
      - name: Build sample with conan
        shell: pwsh
        run: .\build_sample.ps1 grpc/native -fresh -deps-mgmt conan -transport grpc -ext-tools
  build-grpc-native-sample-fetch-linux:
    runs-on: ubuntu-latest
    concurrency:
      group: build-grpc-native-sample-fetch-linux-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v6
      - name: Build sample and library
        run: ./build_sample.sh grpc/native --fresh --transport grpc --deps-mgmt fetch
  build-grpc-native-sample-system-linux:
    runs-on: ubuntu-latest
    concurrency:
      group: build-grpc-native-sample-system-linux-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v6
        with:
          path: astarte-device-sdk-cpp
      - name: Setup gRPC build cache
        id: cache-grpc-cpp
        uses: actions/cache@v5
        with:
          path: |
            ./grpc
            ./grpc-install
          # Cache the hash of the build script for the CMAKE flags
          key: grpc-cpp-v${{ env.GRPC_VERSION }}-${{ hashFiles('astarte-device-sdk-cpp/.github/scripts/build-grpc.sh') }}
      - name: Setup gRPC for build
        run: |
          ./astarte-device-sdk-cpp/.github/scripts/setup-grpc.sh "$GRPC_VERSION"
      - name: Compile gRPC from source
        run: |
          ./astarte-device-sdk-cpp/.github/scripts/build-grpc.sh
      - name: Build sample and library
        working-directory: ./astarte-device-sdk-cpp
        run: ./build_sample.sh grpc/native --fresh --transport grpc --deps-mgmt system
  build-grpc-qt-sample-system-linux:
    runs-on: ubuntu-latest
    needs: build-grpc-native-sample-system-linux
    concurrency:
      group: build-grpc-qt-sample-system-linux-${{ matrix.qt_version }}-${{ github.ref }}
      cancel-in-progress: true
    strategy:
      matrix:
        qt_version: [5.15.2, 6.5.3]
    steps:
      - uses: actions/checkout@v6
      - name: Setup gRPC build cache
        id: cache-grpc-cpp
        uses: actions/cache@v5
        with:
          path: |
            ./grpc
            ./grpc-install
          # Cache the hash of the build script for the CMAKE flags
          key: grpc-cpp-v${{ env.GRPC_VERSION }}-${{ hashFiles('.github/scripts/build-grpc.sh') }}
      - name: Setup already built gRPC
        run: |
          ./.github/scripts/setup-grpc.sh "$GRPC_VERSION"
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: ${{ matrix.qt_version }}
          target: desktop
          arch: gcc_64
          cache: true
          cache-key-prefix: install-qt-action
      - name: Detect Qt path
        id: qt-path
        run: |
          if [[ "${{ matrix.qt_version }}" == 5* ]]; then
            echo "QT_PATH=$Qt/5.15.2/gcc_64/lib/cmake/Qt5" >> $GITHUB_ENV
            echo "QT_MAJOR_VERSION=5" >> $GITHUB_ENV
          else
            echo "QT_PATH=$Qt/6.5.3/gcc_64/lib/cmake/Qt6" >> $GITHUB_ENV
            echo "QT_MAJOR_VERSION=6" >> $GITHUB_ENV
          fi
      - name: Build sample and library
        run: |
          ./build_sample.sh grpc/qt --fresh --transport grpc --deps-mgmt system --qt_version "$QT_MAJOR_VERSION" --qt_path "$QT_PATH"
