# (C) Copyright 2025, SECO Mind Srl
#
# SPDX-License-Identifier: Apache-2.0

name: Static analysis of the C++ sources

on:
  pull_request:
  push:
defaults:
  run:
    shell: bash
env:
  GRPC_VERSION: "1.69.0"

jobs:
  clang-format-check:
    runs-on: ubuntu-latest
    concurrency:
      group: clang-format-check-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Check formatting
        run: ./format.sh --check-only
  clang-tidy-check-grpc:
    runs-on: ubuntu-latest
    concurrency:
      group: clang-tidy-check-grpc-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v6
      - name: Install Conan
        uses: conan-io/setup-conan@v1
        with:
          cache_packages: true
          use_venv: true
      - name: Clang-tidy check on the library
        run: ./tidy.sh --fresh --transport grpc --ext-tools
  clang-tidy-check-mqtt:
    runs-on: ubuntu-latest
    concurrency:
      group: clang-tidy-check-mqtt-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v6
      - name: Install Conan
        uses: conan-io/setup-conan@v1
        with:
          cache_packages: true
          use_venv: true
      - name: Clang-tidy check on the library
        run: ./tidy.sh --fresh --transport mqtt --ext-tools
